.LHMap-main{
    height: 90vh;
    border: 1px solid black;
    margin: 3vmin;
    background-color: bisque;
    
}

.LHMap-rep{
    height: 90%;
    position: relative;
}

.LHMap-topbar{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}