.lhMapPopup-main{
    background-color: rgb(200, 200, 243);
    width: 30vmin;
    overflow: auto;
    
}

.lhMapPopup-fishpic{
    margin-top: 5%;
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.lhMapPopup-newfishlocal{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.lhMapPopup-date{
    display: flex;
}
.lhMapPopup-imp{
    width:20%;
}