.InfoBar-main{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000;
    height: 100%;
    transition: 0.5s;
    width: fit-content;
    display: flex;
}

.InfoBar-content{
    background-color: rgb(226, 247, 247);
    border-left: 1px solid rgb(121, 121, 121);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    right: 0;
    height: 100%;
    transition: 0.5s;
    width: 0vmin;
    overflow: auto;
}
.InfoBar-content-a{
    width: 30vmin;
}

.InfoBar-clicker{
    cursor: pointer;
    background-color: rgb(191, 191, 211);
    border-left: 1px solid rgb(121, 121, 121);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 20%;
    width: 3vmin;
    top: 35%;
    position: relative;
    border-radius: 0px 0px 0px 30px;
    transition: 0.5s;
}
.InfoBar-clicker:hover{
    background-color: rgb(208, 208, 224);
}

.InfoBar-hood{
    background-color: rgb(235, 235, 182);
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}